@charset "UTF-8";

* {
  position: relative;
  font-family: 微軟正黑體;
  vertical-align: top;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body,
html {
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #eeeeee;
}

body ::-webkit-scrollbar,
html ::-webkit-scrollbar {
  display: none;
}

h2 {
  font-weight: bold;
}

.Container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
  overflow: hidden;
}

.logo {
  width: 100%;
  top: 2%;
}

.banner {
  display: block;
  width: 100%;
  height: 80%;
  margin: 2% 0%;
  background-color: rgba(15, 52, 128, 0.87);
}

.banner .ybox {
  width: 500px;
  opacity: 0.9;
  background-color: #eeeeee;
  transition-duration: 0.2s;
}

.banner .ybox--header {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.banner .ybox__hide {
  opacity: 0;
}

.banner .ybox__hide .ybox__close {
  cursor: default;
}

.banner .ybox__hide .ybox__close::before,
.banner .ybox__hide .ybox__close::after {
  cursor: default;
}

.banner .noise {
  width: 50%;
  left: 50%;
  bottom: 5%;
  transform: translateX(-50%);
}

.banner .ybox__close {
  position: absolute;
  top: -20px;
  right: -20px;
  height: 40px;
  width: 40px;
  cursor: pointer;
  border-radius: 50%;
  border: solid 1px #333;
  background: #eeeeee;
  opacity: 0.7;
}

.banner .ybox__close::before {
  height: 30px;
  width: 2px;
  left: 50%;
  top: 50%;
  background: #333;
  content: "";
  position: absolute;
  cursor: pointer;
  transform: translate(-50%, -50%) rotate(45deg);
}

.banner .ybox__close::after {
  height: 30px;
  width: 2px;
  left: 50%;
  top: 50%;
  background: #333;
  content: "";
  position: absolute;
  cursor: pointer;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.banner img {
  display: inline-block;
  position: absolute;
}

.banner #people1 {
  width: 20%;
  left: 10%;
  -webkit-animation: TumbleDown1 2s ease infinite;
          animation: TumbleDown1 2s ease infinite;
}

.banner #people2 {
  width: 5%;
  top: 70%;
  left: 5%;
  transform: rotate(200deg);
  -webkit-animation: TumbleDown2 3s ease infinite;
          animation: TumbleDown2 3s ease infinite;
}

.banner #people3 {
  width: 15%;
  top: 50%;
  left: 40%;
  transform: rotate(90deg);
  -webkit-animation: TumbleDown3 2s ease-in -1s infinite;
          animation: TumbleDown3 2s ease-in -1s infinite;
}

.banner #people4 {
  width: 10%;
  top: 30%;
  left: 60%;
  transform: rotate(180deg);
  -webkit-animation: TumbleDown4 1.5s ease-in -2s infinite;
          animation: TumbleDown4 1.5s ease-in -2s infinite;
}

.banner #people5 {
  width: 13%;
  top: 10%;
  left: 80%;
  transform: rotate(45deg);
  -webkit-animation: TumbleDown5 1.7s ease-in -1s infinite;
          animation: TumbleDown5 1.7s ease-in -1s infinite;
}

.banner #people6 {
  width: 10%;
  top: 60%;
  left: 65%;
  transform: rotate(15deg);
  -webkit-animation: TumbleDown6 1.5s ease-in -0.3s infinite;
          animation: TumbleDown6 1.5s ease-in -0.3s infinite;
}

@-webkit-keyframes TumbleDown1 {
  0% {
    opacity: 1;
    top: 0%;
    transform: rotate(0deg);
  }

  99% {
    opacity: 0;
    top: 30%;
    transform: rotate(90deg);
  }

  100% {
    opacity: 0;
    top: 0%;
  }
}

@keyframes TumbleDown1 {
  0% {
    opacity: 1;
    top: 0%;
    transform: rotate(0deg);
  }

  99% {
    opacity: 0;
    top: 30%;
    transform: rotate(90deg);
  }

  100% {
    opacity: 0;
    top: 0%;
  }
}

@-webkit-keyframes TumbleDown2 {
  0% {
    opacity: 1;
    top: 0%;
    transform: rotate(-30deg);
  }

  95% {
    opacity: 0;
    top: 80%;
    transform: rotate(-180deg);
  }

  100% {
    opacity: 0;
    top: 0%;
  }
}

@keyframes TumbleDown2 {
  0% {
    opacity: 1;
    top: 0%;
    transform: rotate(-30deg);
  }

  95% {
    opacity: 0;
    top: 80%;
    transform: rotate(-180deg);
  }

  100% {
    opacity: 0;
    top: 0%;
  }
}

@-webkit-keyframes TumbleDown3 {
  0% {
    opacity: 1;
    top: 0%;
    transform: rotate(0deg);
  }

  95% {
    opacity: 0;
    top: 80%;
    transform: rotate(90deg);
  }

  100% {
    opacity: 0;
    top: 0%;
  }
}

@keyframes TumbleDown3 {
  0% {
    opacity: 1;
    top: 0%;
    transform: rotate(0deg);
  }

  95% {
    opacity: 0;
    top: 80%;
    transform: rotate(90deg);
  }

  100% {
    opacity: 0;
    top: 0%;
  }
}

@-webkit-keyframes TumbleDown4 {
  0% {
    opacity: 1;
    top: 0%;
    transform: rotate(-60deg);
  }

  95% {
    opacity: 0;
    top: 80%;
    transform: rotate(-270deg);
  }

  100% {
    opacity: 0;
    top: 0%;
  }
}

@keyframes TumbleDown4 {
  0% {
    opacity: 1;
    top: 0%;
    transform: rotate(-60deg);
  }

  95% {
    opacity: 0;
    top: 80%;
    transform: rotate(-270deg);
  }

  100% {
    opacity: 0;
    top: 0%;
  }
}

@-webkit-keyframes TumbleDown5 {
  0% {
    opacity: 1;
    transform: rotate(30deg);
  }

  95% {
    opacity: 0;
    top: 80%;
    transform: rotate(120deg);
  }

  100% {
    opacity: 0;
  }
}

@keyframes TumbleDown5 {
  0% {
    opacity: 1;
    transform: rotate(30deg);
  }

  95% {
    opacity: 0;
    top: 80%;
    transform: rotate(120deg);
  }

  100% {
    opacity: 0;
  }
}

@-webkit-keyframes TumbleDown6 {
  0% {
    opacity: 1;
    top: 30%;
    transform: rotate(15deg);
  }

  95% {
    opacity: 0;
    top: 80%;
    transform: rotate(-70deg);
  }

  100% {
    opacity: 0;
    top: 30%;
  }
}

@keyframes TumbleDown6 {
  0% {
    opacity: 1;
    top: 30%;
    transform: rotate(15deg);
  }

  95% {
    opacity: 0;
    top: 80%;
    transform: rotate(-70deg);
  }

  100% {
    opacity: 0;
    top: 30%;
  }
}

.banner .notFound {
  display: inline-block;
  position: absolute;
  width: 80%;
  left: 50%;
  bottom: -5%;
  transform: translateX(-50%);
}

.title-bg {
  width: 55%;
  background-color: #0F3480;
}

.title-red {
  background-color: #8B000F;
}

.title {
  padding: 0% 1%;
  color: #eeeeee;
  text-align: center;
}

.text {
  padding: 5%;
  color: #536B78;
}

#title-1 {
  margin: 5% 0% 0% 5%;
  background-color: #0F3480;
}

#title-2 {
  margin: 5% 0% 0% 5%;
  background-color: #0F3480;
}

#title-3 {
  width: 45%;
  left: 50%;
  margin: 5% 0%;
  transform: translateX(-50%);
}

#title-7-1 {
  width: 20%;
  margin: 5% 0% 0% 5%;
}

#title-7-2 {
  width: 20%;
  margin: 5% 0% 0% 5%;
}

#title-9 {
  width: 15%;
  left: 50%;
  margin: 5% 0%;
  transform: translateX(-50%);
}

#text-3 {
  text-align: center;
  line-height: 36px;
}

#text-4-2,
#text-5,
#text-6,
#text-8 {
  text-align: center;
  line-height: 36px;
}

.effect {
  width: 80%;
  height: 40%;
  margin: 3%;
  margin-left: 17%;
  text-align: right;
  background: #333333;
}

.step-main {
  flex-wrap: wrap;
}

.step {
  display: flex;
  flex: 1 0 50%;
  justify-content: flex-start;
  align-items: center;
}

.block {
  visibility: hidden;
  width: 350px;
  height: 80px;
  border-radius: 5%;
  margin-left: 2%;
  transition-duration: 0.5s;
  transition-delay: 0.3s;
}

.block h5,
.block p {
  top: 20px;
  margin: 2%;
  opacity: 0;
  visibility: hidden;
  color: #eeeeee;
  transition-duration: 0.4s;
}

.block p {
  transition-delay: 0.2s;
}

.step-img {
  width: 30%;
  margin: 2%;
  cursor: pointer;
}

.step-img:hover {
  transform: scale(1.1);
  transition-duration: 0.7s;
}

.step-img:hover ~ .block {
  visibility: visible;
  width: 60%;
  height: 80%;
  background-color: #AAA0C9;
  transition-delay: 0s;
}

.step-img:hover ~ .block > h5 {
  top: 0px;
  opacity: 1;
  visibility: visible;
  transition-delay: 0.2s;
}

.step-img:hover ~ .block > p {
  top: 0px;
  opacity: 1;
  visibility: visible;
  transition-delay: 0.5s;
}

.circle {
  width: 300px;
  height: 300px;
  border-radius: 100%;
  display: inline-block;
  position: absolute;
}

.circle-1 {
  left: -10%;
  top: 50%;
}

.circle-1 circle {
  fill: #0F3480;
}

.circle-2 {
  left: -20%;
  top: -120%;
}

.circle-2 circle {
  fill: #0F3480;
}

.rectangle {
  width: 150px;
  height: 600px;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  background-color: #0F3480;
}

.rectangle-1 {
  right: -35%;
  top: -25%;
  transform: rotate(45deg);
  -webkit-animation: ZoomAndRotate 2.5s ease infinite;
          animation: ZoomAndRotate 2.5s ease infinite;
}

.rectangle-2 {
  right: -40%;
  bottom: -50%;
  transform: rotate(90deg);
  -webkit-animation: ZoomAndRotate-2 2.5s ease infinite;
          animation: ZoomAndRotate-2 2.5s ease infinite;
}

@-webkit-keyframes ZoomAndRotate {
  0% {
    opacity: 0.2;
    transform: rotate(45deg);
  }

  30% {
    transform: rotate(75deg);
  }

  75% {
    opacity: 1;
    transform: rotate(15deg);
  }

  100% {
    opacity: 0.2;
    transform: rotate(45deg);
  }
}

@keyframes ZoomAndRotate {
  0% {
    opacity: 0.2;
    transform: rotate(45deg);
  }

  30% {
    transform: rotate(75deg);
  }

  75% {
    opacity: 1;
    transform: rotate(15deg);
  }

  100% {
    opacity: 0.2;
    transform: rotate(45deg);
  }
}

@-webkit-keyframes ZoomAndRotate-2 {
  0% {
    opacity: 0.2;
    transform: rotate(90deg);
  }

  15% {
    transform: rotate(75deg);
  }

  75% {
    right: -50%;
    opacity: 1;
    transform: rotate(15deg);
  }

  100% {
    opacity: 0.2;
    transform: rotate(90deg);
  }
}

@keyframes ZoomAndRotate-2 {
  0% {
    opacity: 0.2;
    transform: rotate(90deg);
  }

  15% {
    transform: rotate(75deg);
  }

  75% {
    right: -50%;
    opacity: 1;
    transform: rotate(15deg);
  }

  100% {
    opacity: 0.2;
    transform: rotate(90deg);
  }
}

#questionMark {
  width: 10%;
  position: absolute;
}

#plaint {
  width: 3%;
  position: absolute;
}

#svg-1 {
  stroke: #536B78;
  stroke-width: 3px;
}

#svg-1 circle {
  fill: #0F3480;
}

#svg-1 rect {
  fill: none;
}

#svg-peoples {
  width: 50%;
  position: absolute;
  -webkit-animation: rotate 30s ease-in infinite;
          animation: rotate 30s ease-in infinite;
}

@-webkit-keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.introductionImg {
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
}

.introductionName {
  padding: 10%;
  color: #0F3480;
  text-align: center;
}

.introductionContent {
  color: #0F3480;
  text-align: center;
}

#section0 {
  height: 101%;
  transition-duration: 1.2s;
}

#section1,
#section2,
#section3,
#section4,
#section5,
#section6,
#section7,
#section8,
#section9 {
  transition-duration: 1.2s;
}

#section1 .row,
#section2 .row,
#section3 .row,
#section4 .row,
#section5 .row,
#section6 .row,
#section7 .row,
#section8 .row,
#section9 .row {
  display: none;
}

.row {
  transition-duration: 1s;
}

